<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="testng" verbose="1">
    <test name="PositiveTest">
        <classes>
            <class name="tests.MainPageTest.MainPageTest">
            </class>
            <class name="tests.AutentificareTest.AutentificareTest">
            </class>
            <class name="tests.ConectareTest.ConectareTest">
            </class>
            <class name="tests.ComandaTest.ComandaTest">
            </class>
        </classes>
    </test>

</suite>